html {
    scroll-behavior: smooth;
  }
  
  body {
    
    background-color: purple;
    font-family: "Baloo Tamma 2", cursive;
  }
  
  /* Main Heading Font */
  .m-heading {
    font-family: "Roboto Slab", serif;
  }
  
  /* Navigation */
  .navigation-link {
    border: 2px solid transparent;
  }
  
  .navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #f5ba09;
    transition: 0.5s ease;
  }
  
  /* Main Container height*/
  .main-container {
    height: 100vh;
  }
  
  /* Aligning items in main row */
  .main_row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Changing Name Font sixe */
  .main_row h1 {
    font-size: 5rem;
  }
  
  /* Making the main image the size of the screen */
  .main_row img {
    width: auto;
    height: 100vh;
  }
  
  /* About Section */
  .about {
    background:black;
    border-radius: 0.5rem;
  }
  
  .card {
    border-bottom: 8px solid #f5ba09;
  }
  
  /* Social Media Section */
  #social-media {
    background: black;
  }
  
  /* Add color to Social Media Links */
  .media_link {
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
    border: 2px solid yellow;
    border-radius: 0.5rem;
  }
  .contact-box
  {
   
      width: 500px;
      background-color: #fff;
      box-shadow: 0 0 20px 0 #999;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
  }
  form
  {
      margin:35 px;

  }
  .input-field
  {
      width: 400px;
      height: 40px;
      margin-top: 20px;
      padding-left: 10 px;
      padding-right: 10px;
      border: 1px solid black;
      border-radius: 14px;
      outline: none ;
  }
  .textarea-field
  {
    height: 150px;
    padding-top: 10px;  
  }
  .contact-box button
  {
    border-radius: 20px;
    color: #fff;  
    margin-top: 18px;
    padding: 10px;
    background-color: #47c35a;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }